@import "nav.scss";



$backgroundColor: #ffffff;
$bodyColor: #000000;

*
{
  margin:0;
  padding: 0;
  
}
body {
  background-image: url("../images/Space.jpg");
  background-position: center;
  background-repeat:inherit;
  color: $bodyColor;
  font-family: 'Abel';font-size: 22px;
  color:white;
  animation: floatingBkg 60s infinite;
  
}
.Main-Container{
      position: relative;
      top:70px;
      margin-right: 17%;
      margin-left: 17%;

      .div-link1{
        display:block;
        height: 250px;
        width: 100%;
        background-color:black;
        text-decoration: none;
        img{
          height: 100%;
          float:left;
        }
           p{
            float: right;
             color:white;
             margin-right:13%;
             margin-top:7%;
           }
      }

    }

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
    .test2{
      float:none;
    }
    .Main-Container{
      top:30px;
      margin-right: 2%;
      margin-left: 2%;
    }
    .div-link1{
      p{
        position: relative;
        font-size: 15px;
        margin-right: 0%;
        
      }
    }
  }
}






//Background animation
@keyframes floatingBkg{
  25%{background-position: right};
  50%{background-position: top};
  75%{background-position: left};
  100%{background-position: center};
}